body{
    font-family: open Sans;
    background-color: #edf3f8;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.calculator{
    background-color: #9cb8d6;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 360px;
}
#display{
    width: 100%;
    padding: 2px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    border: none;
    background-color: #b2c8da;
    box-shadow: 0 0 3px #ccc;
    color: #fff
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #ccc;
}
#history-list{
    list-style: none;
    padding-left: 0px;
    max-height: 180px;
    overflow-y: auto;
}
#history-list li{
    background-color: #94aec3;
    margin-bottom: 6px;
    padding: 8px 10px;
    font-size:15px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    border: 1px solid #94aec3;
    border-radius: 10px;
    cursor: pointer;
}
#history-list li:hover{
    background-color: #61ace9;
}
#history-list li button{
    background: none;
    color: red;
    font-weight: bold;
    border: none;
    cursor: pointer;
}